.kbbuttonheader {
    position: fixed;
    z-index: 9999;
    width: 0px;
    height: 0px;
    top: 5%;
    left: 5%;
}

.kbbutton {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 5rem;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-transition: all 500ms cubic-bezier(0.93, 0.1, 0.42, 0.91);
    transition: all 500ms cubic-bezier(0.93, 0.1, 0.42, 0.91);
}

.kbbutton[status="checked"] {
    height: 90vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    position: fixed;
}

.kbbuttonicon {
    vertical-align: middle;
    line-height: 5rem;
}

.kbbuttoncontent {
    display: none;
    text-align: justify;
    padding: 20px;
    flex-grow: 1;
}