html,
body {
    width: 600px;
}

.button {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

#searchbox {
    width: 100%;
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

#searchzone {
    width: 100%;
    display: flex;
}

.result-header {
    display: flex;
    text-align: center;
}

.result-title {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.download-button {
    content: url(../icons/download-32.png);
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.link-button {
    content: url(../icons/link-32.png);
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.save-button {
    content: url(../icons/save-32.png);
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

pre {
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}