html,
body {
    width: 300px;
}

.page-choice {
    width: 100%;
    padding: 4px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}

.page-choice:hover {
    background-color: #CFF2F2;
}

.button {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}